.table.table-striped {
    margin-top: 4em;
    
}

.btn-group.pull-right {
    margin-top: 8em;
    
}

.btn-group.dropup {
    margin-top: 1,5em;
    margin-bottom: 2em;
    
}

.pegado-izquierda {
    padding-left: 0px;
}




