.table.table-striped {
    margin-top: 4em;
    
}

.btn-group.pull-right {
    margin-top: 8em;
    
}

/*.btn-group.dropup {
    margin-top: 1,5em;
    margin-bottom: 2em;
    
}*/
.btn-group.dropup-espacio {
   
    margin-bottom: 2em;
    
}


.pegado-izquierda {
    padding-left: 0px;
}

.margenes-botones {
    margin-top: 2em;
    
}
.margenes-bottom {
    margin-bottom: 2em;
    
}

.iconos{
    margin-right: 1em;
}




